.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

button{
    margin-top: 10rem;
    background-color: #2CC055;
    border-radius: 40px;
    width: 260px;
    color: white;
    font-size: 52px;
    border: white solid 2px;
    font-family: 'nicoMoji';
    cursor: pointer;
}